<Result Status="success"
        Title="@Title"
        SubTitle="Subtitle">
</Result>

<Row Justify="end">
    <Space>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" OnClick="@OkButtonOnClick">
                OK
            </Button>
        </SpaceItem>
    </Space>
</Row>
